{% block content %}
    {% for article in articles %}
        <table>
            <tr>
                <td>
                    {{ article.tittle }}<br>
                    PostedBy: {{ article. }}<br>
                    {{ article.description }}
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}